.poster {
    width:100px;
    height:100px;
}

.poster-container {
    width: 200px;
    height: 120px;
}

.poster-subtext {
    font-size: 12px;
    line-height: 1.25em;
}

.poster-title-section {
    height: 22px;
}

.poster-text-section {
    height: 66px;
}