ion-menu ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
  }
  
  ion-menu.md ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  }
  
  ion-menu.md ion-list {
    padding: 20px 0;
  }
  
  ion-menu.md ion-note {
    margin-bottom: 30px;
  }
  
  ion-menu.md ion-list-header,
  ion-menu.md ion-note {
    padding-left: 10px;
  }
  
  ion-menu.md ion-list#inbox-list {
    border-bottom: 1px solid var(--ion-color-light, #d7d8da);
  }
  
  ion-menu.md ion-list#inbox-list ion-list-header {
    font-size: 22px;
    font-weight: 600;
  
    min-height: 20px;
  }

  ion-menu.md ion-list.menu-top-section {
    border-bottom: 2px solid var(--ion-color-light, #d7d8da);    
  }
  
  ion-menu.md ion-list#labels-list ion-list-header {
    font-size: 16px;
  
    margin-bottom: 18px;
  
    color: #757575;
  
    min-height: 26px;
  }
  
  ion-menu.md ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: 4px;
  }
  
  ion-menu.md ion-item.selected {
    --background: rgba(var(--ion-color-light-rgb), 0.14);
  }
  
  ion-menu.md ion-item.selected ion-icon {
    color: var(--ion-color-light);
  }
  
  ion-menu.md ion-item ion-icon {
    color: var(--ion-color-dark)
    // color: #616e7e;
  }
  
  ion-menu.md ion-item ion-label {
    font-weight: 500;
  }
  
  ion-menu.ios ion-content {
    --padding-bottom: 20px;
  }
  
  ion-menu.ios ion-list {
    padding: 20px 0 0 0;
  }
  
  ion-menu.ios ion-note {
    line-height: 24px;
    margin-bottom: 20px;
  }
  
  ion-menu.ios ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px;
  }
  
  ion-menu.ios ion-item.selected ion-icon {
    color: var(--ion-color-light);
  }
  
  ion-menu.ios ion-item ion-icon {
    font-size: 24px;
    color: #73849a;
  }
  
  ion-menu.ios ion-list#labels-list ion-list-header {
    margin-bottom: 8px;
  }
  
  ion-menu.ios ion-list-header,
  ion-menu.ios ion-note {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  ion-menu.ios ion-note {
    margin-bottom: 8px;
  }
  
  ion-note {
    display: inline-block;
    font-size: 16px;
  
    color: var(--ion-color-medium-shade);
  }
  
  ion-item.selected {
    --color: var(--ion-color-light);
  }
  
span.old-price{
    text-decoration: line-through;
    font-size: 15px;
}
span.regular-price{
    font-size: 17px;
}
.bg-black{
    background: #000
}
span.error-text{
    font-size: 10px;
}

ion-searchbar{
  --border-radius: 2px !important;
  --box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) !important;
}


// Srikanth
.headtext {
  font-size: 16px;
  font-weight: 500;
}

.subheadtext {
  font-size: 13px;
  font-weight: 400;
}

.maintext {
  font-size: 13px;
  font-weight: 400;
}

.subtext {
  font-size: 11px;
  font-weight: 300;
}

.content-banner-canvas {
  background-color: var(--ion-color-night);
}

.listing-section-canvas {
  // background-color: var(--ion-color-primary);
}

ion-grid.ordertile { 
  overflow: hidden;
}

.ordertile ion-col {
  background-color: var(--ion-color-night);
}


// .order-review-table ion-grid {
//   border-radius: 5%;
//   overflow: hidden;
// }

.order-review-table ion-col {
  background-color: var(--ion-color-night);
}

.order-review-table ion-row {
  background-color: var(--ion-color-night);
}


.price-after-discount {
  font-size: 15px;
  font-weight: 400;
}

.price-before-discount {
  font-weight: 600;
  text-decoration: line-through;
  text-decoration-color: var(--ion-color-danger);
}

ion-card.address-card {
  box-shadow: 1px 1px 10px 1px var(--ion-color-light);
}

.single-product-canvas {
  box-shadow: 1px 1px 10px 1px var(--ion-color-light);
}

ion-grid, ion-grid.card {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 2%; 
  box-shadow: 1px 1px 10px 1px var(--ion-color-light);
  background-color: var(--ion-color-night);
}

ion-input,ion-textarea{
  ::placeholder {
    font-size: 13px;
  }
}

// .side-crop { max-height: 100px; overflow: hidden; }
// .side-crop img { max-width: initial; /* Maybe optional. See note below */ }

.pgi-button img{
  height: 75%;
  width: 50%
}

div.cart-qty-value {
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster .subtext {
  color: var(--ion-color-light);
}

.card.poster {
  box-shadow: 1px 1px 4px 1px var(--ion-color-light);
}

.poster-img {
  width: 35vw;
  height: 35vw;
  overflow: hidden;
}

.home-page-slide {
  background-color: var(--ion-color-night);
}

.account-info-table ion-grid {
  --ion-grid-padding: 0px;
  --ion-grid-column-padding: 0px;
}

.account-info-table ion-col > div {
  background-color: var(--ion-color-night);
  padding: 18px;
}

.account-info-table ion-grid {
  border-radius: 3%;
  padding: 3px;
  background-color: var(--ion-color-night);
}

.menu-box {
  border-radius: 3%;
  background-color: var(--ion-color-night);
  padding: 3px;
}

.profile-picture-box {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

.profile-image {
  border-radius: 50%;
}

// Below selectors are not used directly to style elements. Instead they are passed into ionic elements using cssClass option.
.groc-alert .alert-wrapper .alert-message{
  color: var(--ion-color-light);
}
.groc-alert .alert-wrapper{
  --background: var(--ion-color-dark);
}
.groc-alert .alert-button{
  color: var(--ion-color-light);
}
.groc-alert .alert-title, .groc-alert .alert-sub-title{
  color: var(--ion-color-light);
}
.groc-select .alert-wrapper{
  --background: var(--ion-color-dark);
}
.groc-select .alert-title, .groc-select .alert-sub-title, .groc-select .select-interface-option .alert-radio-label{
  color: var(--ion-color-light);
} 
.groc-select .select-interface-option[aria-checked=true] .alert-radio-label{
  color: var(--ion-color-light);
}
.groc-select .alert-button{
  color: var(--ion-color-light);
}
.groc-date-picker .picker-wrapper{
  --background: var(--ion-color-night);
  color: var(--ion-color-dark);
}
.groc-date-picker{
  --border-color:var(--ion-color-medium);
}
.groc-date-picker .picker-opt-selected, .groc-date-picker .picker-button{
  color: var(--ion-color-light);
}
.select-alert .alert-wrapper .alert-message{
  color: var(--ion-color-light);
}
.select-alert .alert-wrapper{
  --background: var(--ion-color-dark);
}
.select-alert .alert-button{
  color: var(--ion-color-light);
}
.select-alert .alert-title, .select-alert .alert-sub-title, .select-alert .alert-checkbox-label{
  color: var(--ion-color-light);
}
.groc-option-picker .picker-wrapper{
  --background: var(--ion-color-night);
}
.groc-option-picker .picker-opt.picker-opt-selected, .groc-option-picker .picker-button{
  color: var(--ion-color-light);
}
.groc-option-picker .picker-opt{
  color: var(--ion-color-dark);
}
.groc-popover .popover-wrapper{
  --background: var(--ion-color-dark);
}
// #ion-input-3-lbl{
//   color: red;
// }
